.smallInput{
    width: 200px;
    background-color: transparent;
    outline: none;
    margin-top: .5rem;

    color: #CED2DA;

    padding: 8px;
    border: 1px solid #CED2DA;

    border-radius: 8px;

    transition: 300ms ease;

    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}