.layout{
    width: 464px;
    margin: 96px 0 0 240px;
}

.hat{
    display: flex;
    flex-direction: column;
}

.layoutTitle{
    font-size: 24px;
    line-height: 32px;
    align-self: center;
}

.stepCount{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}

.progress{
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4px;
    background-color: #CED2DA;
    margin-bottom: 24px;
}

.progressTrack{
    background-color: #40BF7F;
    border-radius: 16px;
}  