.optionCard{
    width: 100%;
    display: flex;
}

.optionCard:hover{
    filter: brightness(.9);
}

.ico{
    padding: 12px;
    border-radius: 50%;

    align-self: self-start;

    transition: 300ms ease;
}


div[data-theme="light"] .ico{
    background-color: #F3F4F6;
}

.subText{
    color: #CED2DA;
    font-size: 12px;
    line-height: 16px;
}

div[data-theme="light"] .subText{
    color: #637083;
}

.ad{
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-grow: 1;
    height: 88px;
    max-height: 88px;
    background: linear-gradient(280.73deg, #92BEFF -8.31%, #1975FF 100.62%);
}